flask
flask-socketio
flask-sqlalchemy
flask-migrate
Flask-Assets
requests[socks]
websocket-client
tokenizers
tiktoken
gitpython
lupa
pytest
pillow
pypdf
cryptography
python-dotenv
APScheduler
coloredlogs
setuptools
pydantic
bs4
googlesearch-python
trafilatura
httpx